pindel.filter.heterozyg_min_var_allele_freq = 0.2
pindel.filter.homozyg_min_var_allele_freq = 0.8
pindel.filter.mode = germline
pindel.filter.apply_filter = true
pindel.filter.germline.min_coverages = 10
pindel.filter.germline.min_var_allele_freq = 0.20
pindel.filter.germline.require_balanced_reads = true
pindel.filter.germline.remove_complex_indels = true
pindel.filter.germline.max_num_homopolymer_repeat_units = 6
